.auth_container{
    display: flex;
    width:100vw;
    height: 100vh;
    /* flex-wrap: wrap; */
}
.leftbar{
    background-image: linear-gradient(rgba(41, 77, 127, 1), rgba(22, 146, 195, 1));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 38%;
    padding: 5rem;
}
.logo{
    width: 100px;
    height: 100px;
}
.left_text{
    color: #ffffff;
    font-weight: bold;
    font-size: 2.25rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.auth-container-1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-top: 1rem;
}

.auth-container-2{
    min-width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-height: 800px; */
}

.auth-container-2 form{
    /* min-width: 400px;
    max-height: 500px; */
    /* min-width: 100%; */
    min-width: 400px;
    min-height: 320px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 10px 25px rgb(0 0 0 / 5%),
     0 20px 48px rgb(0 0 0 / 5%),
     0 1px 4px rgb(0 0 0 / 10%);
}

.auth-container-2 form label input{
    padding: 10px;
    width: calc( 100% - 30px );
    border: solid 1px #0000003e;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13px;
}

.auth-container-2 form label:nth-child(1) h4,
.auth-container-2 form label:nth-child(2) h4,
.auth-container-2 form label:nth-child(3) h4{
    margin-bottom: 5px;
    margin-top: 10px;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.auth-container-2 form label:nth-child(4){
    display: flex;
}

.auth-container-2 form label:nth-child(4) input{
    width: 15%;
    margin: 13px 0px;
}

.auth-btn{
    margin-top: 10px;
    padding: 10px 5px;
    background-image: linear-gradient(to right,rgba(41, 77, 127, 1), rgba(22, 146, 195, 1));
    /* border: solid 1px #009dff; */
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 1.2rem;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
}

.auth-btn:hover{
    background-color: linear-gradient(to right,rgba(41, 77, 127, 1), rgba(22, 146, 195, 1));;
}

.handle-switch-btn{
    background-color: transparent;
    color: linear-gradient(to right,rgba(41, 77, 127, 1), rgba(22, 146, 195, 1));;
    border: none;
    font-size: 13px;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.txt{
    font-size: 1.2rem;
}
@media screen and (max-width: 1074px) {
    .auth_container{
        flex-wrap: wrap;
    }
    .leftbar{
        width: 100%;
        align-items: center;
        justify-content: center;

    }
    .auth-container-1{
        width: 100%;
    }
  }